<h1>Basket</h1>
<button mat-button (click)="back()">Back</button>

<div>
  <ng-container *ngFor="let item of basket$ | async">
    <div>{{item | json}}</div>
    <button mat-button (click)="removeFromBasket(item)">Remove</button>
  </ng-container>
</div>
