<pf-shop-top-toolbar></pf-shop-top-toolbar>

<div class="container">
  <div class="filter">
    <pf-filters
      [filterOptions]="filterOptions"
      (filter)="handleNewFilter($event)">
    </pf-filters>
  </div>

  <div class="items">
    <mat-paginator
      [length]="((shopItems$ | async) | shopItemFilter: filter)?.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageSelection($event)">
    </mat-paginator>

    <pf-item-list
      *ngIf="(shopItems$ | async) && !isLoading; else loader"
      [items]="(shopItems$ | async) | shopItemFilter: filter"
      [startIndex]="startIndex"
      [endIndex]="endIndex">
    </pf-item-list>
  </div>
</div>

<ng-template #loader>
  <div class="loader">
    <pf-loader></pf-loader>
  </div>
</ng-template>
