@import "colors";
@import "variables";

$left-column-width: 15%;
$right-column-width: 85%;

.container {
  max-width: $max-content-width;
  margin: 18px auto 0 auto;
  display: flex;
  height: 100%;

  .filter {
    flex: 1;
    padding: 0 12px;
  }

  .items {
    flex: 5;
  }
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
