@import "variables";
@import "colors";

.box-option {
  display: flex;
  align-items: center;
}

.box-option:not(:last-of-type) {
  margin-bottom: 18px;
  border-bottom: 2px solid gray;
}

.box-logo {
  height: 80px;
  margin-right: 18px;

  img {
    width: 100%;
    height: 100%;
  }
}

.box-name {
  font-size: $font-size-extra-big;
}

.main-info {
  font-size: $font-size-big;

  p {
    margin: 0;
    padding: 0;
  }
}

.box-details {
  font-size: $font-size-middle;
  opacity: 0.5;

  p {
    margin: 0;
    padding: 0;
  }
}

.controls {
  margin-top: 12px;

  button:not(:last-child) {
    margin-right: 12px;
  }
}

.loader-container {
  margin: 12px 0;
  display: flex;
  justify-content: center;
}

//[right] {
//  img {
//    width: 100%;
//    object-fit: fill;
//  }
//}

[left] {
  background-color: $dark-green;
  color: white;
}
