<pf-half-screen-template>
  <div left>
    <form [formGroup]="form" (ngSubmit)="setMealOption()">
      <section class="title-section">
        <h1 class="title">Choose predefined box or create personal one:</h1>
      </section>

      <section>
        <ng-container *ngIf="(mealBoxes$ | async)?.length && !isLoading; else loader">

          <mat-radio-group formControlName="meal" class="radio-group">

            <div class="box-option" *ngFor="let meal of (viewMealBoxes$ | async)">

              <div class="box-logo">
                <img [src]="'assets/pic/' + meal.brand + '.svg'" alt="logo">
              </div>

              <mat-radio-button class="radio-button" [value]="meal">
                <div class="main-info">
                  <p class="box-name">{{meal.brand }}</p>
                  <p>Price: {{meal.totalPrice}}</p>
                  <p>Total weight: {{meal.totalWeight}}</p>
                </div>

                <div class="box-details">
                  <ng-container *ngFor="let details of meal.details">
                    <p>{{details.taste}} {{details.foodType}} {{details.itemCount}} x {{details.itemWeight}}</p>
                  </ng-container>
                </div>

              </mat-radio-button>
            </div>

          </mat-radio-group>
        </ng-container>
      </section>

      <section class="button-section">
        <button mat-button color="primary" (click)="handleBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <button mat-flat-button color="primary" [disabled]="form.invalid" type="submit">
          {{'common.next' |  translate}}
        </button>

        <button mat-flat-button color="primary" (click)="navigateToShop()">
          {{'Shop' |  translate}}
        </button>
      </section>

    </form>
  </div>

  <div right>
    <!--    <img src="assets/pic/3-3.jpeg" alt="dog">-->
  </div>

</pf-half-screen-template>

<ng-template #loader>
  <div class="loader-container">
    <pf-loader></pf-loader>
  </div>
</ng-template>
