@import "variables";

.container {
  max-width: $max-content-width;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

pf-login-form {
  width: 600px;
}
