.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
}

.main {
  display: flex;
}

.info-box {
  background: #535435;
  flex-basis: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.img-box {
  background-image: url("/assets/pic/1.png");
  background-repeat: no-repeat;
  flex-basis: 50%;
  background-size: cover;
  background-position: top;
}

.red-btn {
  padding: 9px 24px;
  background: #BC3432;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.red-btn:hover {
  background: #8d2725;
  transition: 0.3s;
}

.info {
  padding: 0 50px;
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

.info-heading {
  font-weight: 600;
  font-size: 56px;
  color: #fff;
  margin-bottom: 30px;
}

.info span {
  color: #fff;
  margin-bottom: 37px;
  font-size: 24px;
  display: block;
}

.info h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.main-btn-box {
  display: flex;
  margin-top: 14px;
}

.main-btn-box svg {
  margin-right: 10px;
  fill: none;
  transition: 0.3s;
}

.main-btn-box svg:hover {
  fill: #2e2a27;
  transition: 0.3s;
  stroke: white;
}

.radio-box {
  margin-bottom: 24px;
  font-size: 16px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .main {
    display: block;
    line-height: 1.3;
  }

  .info-heading{
    font-size: 44px;
    margin-bottom: 8px;
    text-align: center;
  }

  .img-box {
    width: 100%;
    height: 249px;
    background-position: center;
  }

  .info {
    padding: 0 22px;
  }

  .header {
    padding: 10px;
    white-space: nowrap;
  }

  .info span {
    margin-bottom: 13px;
    text-align: center;
  }

  .main-btn-box {
    display: flex;
    justify-content: center;
  }

  .info-box {
    justify-content: center;
    height: max-content;
    padding: 50px 0;
  }

  .red-btn {
    height: max-content;
  }
}
