<div class="main">
  <div class="info-box">
    <div class="info">

      <h2 class="info-heading">{{'feature.survey.pet-type-step.title' | translate}}</h2>
      <span>{{'feature.survey.pet-type-step.hint' | translate}}</span>

      <ng-container *ngFor="let type of types">
        <div class="radio-box">
          <input type="radio" name="type" [id]="type.value" [value]="type" [formControl]="petType">
          <label [for]="type.value">{{type.label | translate}}</label>
        </div>
      </ng-container>

      <div class="main-btn-box">

        <a routerLink="/">
          <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 12L15 20L23 28" stroke="white" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <rect x="0.5" y="0.5" width="39" height="39" rx="3.5" stroke="white"/>
          </svg>
        </a>
        <button
          class="red-btn"
          [disabled]="petType.invalid"
          (click)="handlePetTypeSelection()">
          {{'common.next' | translate}}
        </button>

      </div>
    </div>
  </div>
  <div class="img-box"></div>
</div>

<pf-footer></pf-footer>
