@import "variables";
@import "colors";

.pay-form {
  display: none;
}

.container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.min-height {
  min-height: 300px;
}

.basket-item {
  span {
    margin-right: 6px;
  }
}

[right] {
  img {
    background-color: $light-grey;
    width: 100%;
    object-fit: fill;
  }
}
