

<pf-half-screen-template>
  <div left>
    <div>
      <section class="title-section">
        <h3 class="title">We almost ready...</h3>
      </section>

      <section class="main-section min-height">
        <h4>Your order:</h4>

        <ul>
          <ng-container *ngFor="let item of orderItems">
            <li class="basket-item">
              <span class="label">{{ item.skuItem.brand }}</span>
              <span class="description">{{item.skuItem.foodType?.type}}</span>
              <span class="description">{{item.skuItem.taste}}</span>
              <span class="description">{{item.quantity}}</span>
              <span class="description">{{item.skuItem.packageWeightKilos}}</span>
            </li>
            <mat-divider></mat-divider>
          </ng-container>
        </ul>
      </section>

      <section class="payment">
        <span>Total price: {{(order$ | async)?.orderAmount}} {{uahSign}}</span>

        <p>
          <mat-checkbox [formControl]="paymentTypeCtrl">Single order</mat-checkbox>
        </p>

        <div>
          <button mat-flat-button  color="primary" (click)="payBtn.click()">Pay</button>
        </div>
      </section>
    </div>
  </div>

  <div right>
    <!--      <img src="assets/pic/3-3.jpeg" alt="dog">-->
  </div>

</pf-half-screen-template>

<form class="pay-form" method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
  <input type="hidden" name="data" [value]="paymentData"/>
  <input type="hidden" name="signature" [value]="signature"/>
  <input #payBtn type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" alt="liqpay-logo"/>
</form>
