<mat-toolbar class="toolbar" color="accent">
  <div class="container">
    <div>
      <button mat-icon-button [matBadgeHidden]="showBasketBadge$ | async" [matBadge]="(basket$ | async)?.length" routerLink="/basket">
        <mat-icon>shopping_basket</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
