<pf-half-screen-template>
  <div left>
    <section class="greeting">
      <h1>High Five, {{order?.user?.firstName}}!</h1>
      <p>Your order is currently being processed. Just wait for notification from Novaya Pochta</p>
    </section>

    <section class="user-info" *ngIf="(order$ | async)?.user?.newUserFlag">
      <h2>
        Please enter a password to create your account.
      </h2>

      <form [formGroup]="form" (ngSubmit)="createAccount()">

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" autocomplete="off">
        </mat-form-field>

        <div class="button-container">
          <button mat-flat-button routerLink="/">Home</button>
          <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Create</button>
        </div>

      </form>
    </section>
  </div>
</pf-half-screen-template>
