@import "variables";

.container {
  max-width: $max-content-width;
  margin: 18px auto 0 auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$toolbar-height});

  .greeting {
    flex: 1;
    text-align: center;

    h1 {
      font-size: $font-size-huge;
    }

    p {
      font-size: $font-size-extra-big;
    }
  }

  .user-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-container {
      display: flex;
      justify-content: space-between;
    }

    mat-form-field:not(:last-of-type) {
      margin-right: 18px;
    }
  }
}
