@import "colors";

.container {
  margin: 0 10%;
  width: 100%;
}

.left-section {
  height: 100%;
  display: flex;
  align-items: center;
}

section {
  display: flex;
}

.personal-info, .contacts, .city {
  mat-form-field {
    width: 100%;
  }

  .mat-form-field:not(:last-of-type) {
    margin-right: 15px;
  }
}

.region {
  mat-form-field {
    flex: 0.5;
    margin-right: 15px;
  }
}

[right] {
  img {
    width: 100%;
    object-fit: fill;
  }
}

[left] {
  background-color: $dark-green;
  color: white;
}
