<pf-half-screen-template>
  <div left class="left-section">
    <div class="container">
      <h3>User info</h3>

      <form [formGroup]="form" (ngSubmit)="setUser()">

        <section class="personal-info">
          <!--FIST NAME-->
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="firstName">
          </mat-form-field>

          <!--LAST NAME-->
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="lastName">
          </mat-form-field>
        </section>

        <section class="contacts">

          <!--PHONE-->
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="phone">
          </mat-form-field>

          <!--EMAIL-->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" autocomplete="off" formControlName="email">
          </mat-form-field>
        </section>

        <section class="region">
          <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <mat-select formControlName="region">
              <mat-option *ngFor="let region of (regions$| async)" [value]="region">{{region.Description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section class="city">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of (cities$ | async)" [value]="city">{{city.Description}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Post office</mat-label>
            <mat-select formControlName="postOffice">
              <mat-option *ngFor="let postOffice of (postOffices$ | async)" [value]="postOffice">{{postOffice.Description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>


        <div class="button-controls">
          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
            {{'common.next' | translate }}
          </button>
        </div>

      </form>

    </div>

  </div>

  <div right>
<!--    <img src="assets/pic/3-3.jpeg" alt="dog">-->
  </div>
</pf-half-screen-template>
