@import "variables";
@import "colors";

.option {
  height: 100px;
  display: flex;
  align-items: center;

  .dog-size-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-right: 24px;
  }

  .dog-size-title {
    margin: 0;
    font-size: $font-size-extra-big;
  }

  .dog-size-description {
    opacity: .5;
    margin: 0;
  }
}


.option:not(:last-of-type) {
  border-bottom: 2px solid gray;
}

[left] {
  background-color: $dark-green;
  color: white;
}
