<pf-half-screen-template>
  <div left>
    <form [formGroup]="form" (ngSubmit)="setDogSize()">

      <section class="title-section">
        <h3>{{'feature.survey.dog-size-step.title' | translate}}</h3>
      </section>

      <section class="main-section">
        <mat-radio-group formControlName="dogSize">
          <div class="option" *ngFor="let size of dogSizeOptions">
            <div class="dog-size-icon">
              <img [src]="size.ico" [alt]="size.ico">
            </div>
            <mat-radio-button class="radio-button" [value]="size.value">
              <h4 class="dog-size-title">{{size.label | translate}}</h4>
              <p class="dog-size-description">{{('feature.survey.dog-size-step.desc-' + size.value) | translate}}</p>
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </section>

      <section class="button-section">
        <button mat-button color="primary" (click)="handleBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
          {{'common.next' | translate}}
        </button>
      </section>

    </form>
  </div>

  <div right>
<!--    <img src="assets/pic/3-3.jpeg" alt="dog">-->
  </div>

</pf-half-screen-template>

