<form [formGroup]="form" class="login-form" (ngSubmit)="login()">

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="name" autocomplete="off">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="text" formControlName="password" autocomplete="off">
  </mat-form-field>

  <div class="controls">
    <button mat-raised-button  color="primary" type="submit">Login</button>
    <button mat-button routerLink="/" type="button">Main Page</button>
  </div>
</form>
