<div class="container">
  <ng-container *ngIf="mappedItems.length else noData">
    <ng-container *ngFor="let item of mappedItems | slice :startIndex: endIndex">
      <pf-shop-item class="item" [item]="item"></pf-shop-item>
    </ng-container>
  </ng-container>
</div>

<ng-template #noData>
  <div class="no-data">
    <span>No data</span>
  </div>
</ng-template>

