<mat-form-field appearance="outline">
  <mat-label>Amount</mat-label>
  <input type="number" matInput [formControl]="amountControl">
</mat-form-field>

<button mat-raised-button color="accent" (click)="submit()" [disabled]="amountControl.invalid">Add to basket</button>
