$font-size-extra-small: 6px;
$font-size-small: 9px;
$font-size-middle: 12px;
$font-size-big: 15px;
$font-size-extra-big: 26px;
$font-size-huge: 40px;
$font-size-extra-huge: 56px;

$max-content-width: 1044px;
$toolbar-height: 48px;
