@import "variables";
pf-half-screen-template {
  [left] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .radio-button {
    margin: 8px 0;
  }

  .title-section {
    margin-bottom: 24px;

    h3 {
      font-size: 40px;
      line-height: 40px;
    }

    p {
      font-size: 24px;
      line-height: 24px;
      opacity: .7;
    }
  }

  .main-section {
    margin-bottom: 24px;

    h4 {
      font-size: 27px;
      line-height: 27px;
    }
  }

  .button-section {
    button:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

