<mat-card class="card">
  <img mat-card-image [src]="item?.img" alt="picture of an item">
  <mat-card-content class="content">
    <mat-card-title class="truncation">
      <span routerLink="{{item?.id}}">{{item?.title}}</span>
    </mat-card-title>
    <p class="truncation">{{item?.description}}</p>
  </mat-card-content>
  <mat-card-actions class="card-bottom">
    <div class="price-container">
      <span class="price">{{item?.price}}</span>
      <span class="currency">{{item?.currency}}</span>
    </div>
    <button mat-icon-button color="accent" (click)="add()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
