.card {
  max-width: 224px;
  margin: 0 6px 12px 6px;
}

.mat-card-title {
  cursor: pointer;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.truncation {
  max-height: 50px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-container {
  span {
    margin-right: 6px;
  }
}

.content {
  margin: 0;
  h4 {
    margin: 0;
  }
  p {
    opacity: .5;
  }
}

.mat-card-actions {
  margin: 0;
}

[mat-card-image] {
  display: block;
  height: 230px;
}
