<div class="header">
  <a routerLink=""><span class="logo">MEAL BOX</span></a>
  <div class="nav-box">

    <div class="nav">
      <a routerLink="">Про нас</a>
      <a routerLink="">Їжа</a>
      <a routerLink="/login">Увійти</a>
    </div>

    <button class="red-btn" routerLink="/survey">Спробувати</button>

    <section class="top-nav">
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
      <ul class="menu">
        <li>Про нас</li>
        <li>Їжа</li>
        <li>Увійти</li>
      </ul>
    </section>

  </div>
</div>
