<mat-nav-list>
  <mat-list>

    <h3 matSubheader>Orders</h3>

    <a [routerLink]="routesEnum.ORDERS">
      <mat-list-item>
        <mat-icon matListIcon>shopping_basket</mat-icon>
        <h4 matLine>Orders</h4>
      </mat-list-item>
    </a>

    <mat-divider></mat-divider>

    <h3 matSubheader>Clients</h3>
    <a [routerLink]="routesEnum.CLIENTS">
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        <h4 matLine>Clients</h4>
      </mat-list-item>
    </a>

    <mat-divider></mat-divider>

    <h3 matSubheader>Products</h3>
    <a [routerLink]="routesEnum.PRODUCTS">
      <mat-list-item>
        <mat-icon matListIcon>pets</mat-icon>
        <h4 matLine>Products</h4>
      </mat-list-item>
    </a>

  </mat-list>

</mat-nav-list>
