<pf-admin-top-bar (sideMenuState)="handleSidebarStateChange($event)"></pf-admin-top-bar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" [opened]="isSideMenuOpened">
    <pf-admin-side-bar></pf-admin-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
