.footer {
  background: #3D3935;
  color: white;
  padding: 35px 50px;
}

.footer a{
  color: #fff;
}

.footer-info-box span {
  display: block;
  margin-bottom: 14px;
}

.footer-info-box {
  text-align: center;
}

.footer-info-text {
  display: flex;
  justify-content: center;
}

.footer-info-text span {
  margin: 0 10px;
}

.footer a:hover {
  color: #c4c4c4;
  transition: 0.3s;
}
.social-networks-box svg {
  fill: white;
  margin: 0 10px 20px;
  width: 28px;
  height: 28px;
  transition: 0.3s;
}

.social-networks-box svg:hover {
  background: #2c2926;
  fill: #d9d9d9;
  transition: 0.3s;
}

.social-networks-box {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 300px) and (max-width: 767px) {
  .footer {
    padding: 30px 10px;
  }
}
