
<div class="footer">
  <div class="social-networks-box">
    <a>
      <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 0H3C1.34375 0 0 1.34375 0 3V25C0 26.6562 1.34375 28 3 28H25C26.6562 28 28 26.6562 28 25V3C28 1.34375 26.6562 0 25 0ZM21.9438 9.925C21.9563 10.1 21.9562 10.2813 21.9562 10.4563C21.9562 15.875 17.8312 22.1187 10.2937 22.1187C7.96875 22.1187 5.8125 21.4438 4 20.2812C4.33125 20.3188 4.65 20.3312 4.9875 20.3312C6.90625 20.3312 8.66875 19.6812 10.075 18.5812C8.275 18.5437 6.7625 17.3625 6.24375 15.7375C6.875 15.8312 7.44375 15.8313 8.09375 15.6625C6.21875 15.2813 4.8125 13.6312 4.8125 11.6375V11.5875C5.35625 11.8937 5.99375 12.0812 6.6625 12.1062C6.10027 11.7323 5.63936 11.2249 5.32092 10.6295C5.00247 10.034 4.83639 9.369 4.8375 8.69375C4.8375 7.93125 5.0375 7.23125 5.39375 6.625C7.4125 9.1125 10.4437 10.7375 13.8438 10.9125C13.2625 8.13125 15.3438 5.875 17.8438 5.875C19.025 5.875 20.0875 6.36875 20.8375 7.16875C21.7625 6.99375 22.65 6.65 23.4375 6.18125C23.1312 7.13125 22.4875 7.93125 21.6375 8.4375C22.4625 8.35 23.2625 8.11875 24 7.8C23.4438 8.61875 22.7438 9.34375 21.9438 9.925Z"/>
      </svg>
    </a>
    <a>
      <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.31607 1.44129 0 2.20435 0 3L0 25C0 25.7956 0.31607 26.5587 0.87868 27.1213C1.44129 27.6839 2.20435 28 3 28H11.5781V18.4806H7.64062V14H11.5781V10.585C11.5781 6.70062 13.8906 4.555 17.4325 4.555C19.1288 4.555 20.9025 4.8575 20.9025 4.8575V8.67H18.9481C17.0225 8.67 16.4219 9.865 16.4219 11.0906V14H20.7206L20.0331 18.4806H16.4219V28H25C25.7956 28 26.5587 27.6839 27.1213 27.1213C27.6839 26.5587 28 25.7956 28 25V3C28 2.20435 27.6839 1.44129 27.1213 0.87868C26.5587 0.316071 25.7956 0 25 0V0Z"/>
      </svg>
    </a>
    <a>
      <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.675 10.6313L17.625 14.0125L11.675 17.3937V10.6313ZM28 3V25C28 26.6562 26.6562 28 25 28H3C1.34375 28 0 26.6562 0 25V3C0 1.34375 1.34375 0 3 0H25C26.6562 0 28 1.34375 28 3ZM25.375 14.0187C25.375 14.0187 25.375 10.2938 24.9 8.50625C24.6375 7.51875 23.8688 6.74375 22.8875 6.48125C21.1188 6 14 6 14 6C14 6 6.88125 6 5.1125 6.48125C4.13125 6.74375 3.3625 7.51875 3.1 8.50625C2.625 10.2875 2.625 14.0187 2.625 14.0187C2.625 14.0187 2.625 17.7437 3.1 19.5312C3.3625 20.5188 4.13125 21.2625 5.1125 21.525C6.88125 22 14 22 14 22C14 22 21.1188 22 22.8875 21.5187C23.8688 21.2562 24.6375 20.5125 24.9 19.525C25.375 17.7437 25.375 14.0187 25.375 14.0187V14.0187Z"/>
      </svg>
    </a>
    <a>
      <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 10.6663C13.3407 10.6665 12.6963 10.8622 12.1482 11.2287C11.6001 11.5952 11.173 12.1159 10.9209 12.7251C10.6688 13.3343 10.6029 14.0045 10.7317 14.6511C10.8605 15.2977 11.1781 15.8917 11.6444 16.3578C12.1107 16.8239 12.7047 17.1413 13.3513 17.2698C13.998 17.3983 14.6682 17.3322 15.2773 17.0799C15.8864 16.8275 16.407 16.4002 16.7732 15.852C17.1395 15.3038 17.335 14.6593 17.335 14C17.3343 13.1158 16.9827 12.2681 16.3574 11.643C15.7321 11.0179 14.8842 10.6666 14 10.6663V10.6663ZM21.7944 8.10375C21.6247 7.67365 21.3684 7.28301 21.0414 6.95607C20.7145 6.62912 20.3238 6.37284 19.8937 6.20312C18.5812 5.685 15.4562 5.80125 14 5.80125C12.5438 5.80125 9.42188 5.68063 8.10563 6.20312C7.67553 6.37284 7.28489 6.62912 6.95794 6.95607C6.63099 7.28301 6.37471 7.67365 6.205 8.10375C5.6875 9.41625 5.80312 12.5444 5.80312 13.9994C5.80312 15.4544 5.6875 18.5787 6.2075 19.8956C6.37721 20.3257 6.63349 20.7164 6.96044 21.0433C7.28739 21.3703 7.67803 21.6265 8.10812 21.7962C9.42062 22.3144 12.5456 22.1981 14.0025 22.1981C15.4594 22.1981 18.58 22.3187 19.8962 21.7962C20.3263 21.6265 20.717 21.3703 21.0439 21.0433C21.3709 20.7164 21.6272 20.3257 21.7969 19.8956C22.3188 18.5831 22.1987 15.455 22.1987 14C22.1987 12.545 22.3188 9.42125 21.7969 8.10437L21.7944 8.10375ZM14 19.125C12.9864 19.125 11.9955 18.8244 11.1527 18.2613C10.3099 17.6981 9.65302 16.8977 9.26512 15.9613C8.87722 15.0248 8.77573 13.9943 8.97348 13.0002C9.17122 12.006 9.65933 11.0928 10.3761 10.3761C11.0928 9.65933 12.006 9.17122 13.0002 8.97348C13.9943 8.77573 15.0248 8.87722 15.9613 9.26512C16.8977 9.65302 17.6981 10.3099 18.2613 11.1527C18.8244 11.9955 19.125 12.9864 19.125 14C19.1258 14.6733 18.9938 15.3401 18.7366 15.9622C18.4793 16.5844 18.1018 17.1497 17.6258 17.6258C17.1497 18.1018 16.5844 18.4793 15.9622 18.7366C15.3401 18.9938 14.6733 19.1258 14 19.125V19.125ZM19.3363 9.85625C19.0996 9.85637 18.8683 9.78632 18.6715 9.65495C18.4747 9.52358 18.3213 9.33679 18.2306 9.11822C18.14 8.89964 18.1162 8.6591 18.1623 8.42701C18.2084 8.19492 18.3223 7.98171 18.4895 7.81434C18.6568 7.64698 18.87 7.53299 19.102 7.48678C19.3341 7.44057 19.5746 7.46423 19.7933 7.55475C20.0119 7.64527 20.1988 7.7986 20.3302 7.99533C20.4617 8.19207 20.5319 8.42338 20.5319 8.66C20.5325 8.81713 20.5022 8.97285 20.4425 9.11822C20.3828 9.26359 20.2951 9.39575 20.1842 9.50712C20.0734 9.61849 19.9416 9.70688 19.7965 9.76723C19.6515 9.82757 19.4959 9.85867 19.3388 9.85875L19.3363 9.85625ZM25 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.31607 1.44129 0 2.20435 0 3L0 25C0 25.7956 0.31607 26.5587 0.87868 27.1213C1.44129 27.6839 2.20435 28 3 28H25C25.7956 28 26.5587 27.6839 27.1213 27.1213C27.6839 26.5587 28 25.7956 28 25V3C28 2.20435 27.6839 1.44129 27.1213 0.87868C26.5587 0.316071 25.7956 0 25 0V0ZM23.93 18.125C23.8494 19.7269 23.4837 21.1463 22.3144 22.3125C21.145 23.4787 19.7269 23.8519 18.1269 23.9281C16.4762 24.0213 11.5275 24.0213 9.87687 23.9281C8.275 23.8475 6.86062 23.4813 5.68937 22.3125C4.51812 21.1437 4.15 19.7237 4.07375 18.125C3.98063 16.4737 3.98063 11.5244 4.07375 9.875C4.15438 8.27313 4.51562 6.85375 5.68937 5.6875C6.86312 4.52125 8.28125 4.1525 9.87687 4.07625C11.5275 3.98313 16.4762 3.98313 18.1269 4.07625C19.7287 4.15688 21.1475 4.52312 22.3144 5.69187C23.4812 6.86063 23.8538 8.28062 23.93 9.8825C24.0231 11.5275 24.0231 16.4725 23.93 18.125Z"/>
      </svg>
    </a>
  </div>
  <div class="footer-info-box">
    <span>© 2021 Meal Boc Inc. Ми постійно вдосконалюємо взаємодію</span>
    <div class="footer-info-text">
      <a href="#">Умови обслуговування</a>
      <span>|</span>
      <a href="#">Політика конфіденціності</a>
    </div>
  </div>
</div>
