<pf-half-screen-template>
  <div left>
    <form [formGroup]="form" (ngSubmit)="setOtherInfo()">

      <!-- Name -->
      <mat-form-field appearance="outline">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" formControlName="name" autocomplete="off">
        <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="form.controls.name.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Breed -->
      <mat-form-field appearance="outline">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" formControlName="breed" autocomplete="off">
        <button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="form.controls.name.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        type="submit">
        {{'common.next' |  translate}}
      </button>

    </form>
  </div>
  <div right>
  </div>
</pf-half-screen-template>
