<pf-top-toolbar></pf-top-toolbar>

<div class="main">
  <div class="info-box">
    <div class="info">
      <h2 class="info-heading">{{'feature.home.title' | translate}}</h2>
      <span>{{'feature.home.sub-title' | translate}}</span>
      <ul>
        <h4>{{'feature.home.description-title' | translate}}</h4>
        <li>{{'feature.home.step-1' | translate}}</li>
        <li>{{'feature.home.step-2' | translate}}</li>
        <li>{{'feature.home.step-3' | translate}}</li>
      </ul>
      <div class="main-btn-box">
        <button class="red-btn" routerLink="/survey">{{ 'common.order' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="img-box"></div>
</div>

<pf-footer></pf-footer>
