@import "colors";

.main {
  display: flex;
  padding-top: 70px;
}

.info-box {
  background: #D8B28D;
  flex-basis: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.img-box {
  background-image: url("/assets/pic/main-page.png");
  background-repeat: no-repeat;
  flex-basis: 50%;
  background-size: cover;
  background-position: top;
}

.info-heading {
  font-weight: 600;
  font-size: 56px;
  color: $well-red;
  margin-bottom: 30px;
}

.info {
  padding: 0 50px;
}

.info h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info span {
  color: $well-red;
  margin-bottom: 37px;
  font-size: 24px;
  display: block;
}

.info ul li {
  margin-bottom: 10px;
}

.info ul li:last-child {
  margin-bottom: 20px;
}

.info ul li {
  margin-bottom: 10px;
}

.info ul li:last-child {
  margin-bottom: 20px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .main {
    display: block;
    line-height: 1.3;
    padding-top: 50px;
  }

  .info-heading{
    font-size: 44px;
    margin-bottom: 8px;
    text-align: center;
  }

  .img-box {
    width: 100%;
    height: 249px;
    background-position: center;
  }

  .info {
    padding: 0 22px;
  }

  .info span {
    margin-bottom: 13px;
    text-align: center;
  }

  .info ul {
    text-align: center;
  }

  .main-btn-box {
    display: flex;
    justify-content: center;
  }

  .info-box {
    justify-content: center;
    height: max-content;
    padding: 50px 0;
  }

  .red-btn {
    height: max-content;
  }
}
