<pf-shop-top-toolbar></pf-shop-top-toolbar>

<h1>{{shopItem?.skuItem?.brand}}</h1>

<span *ngIf="!isLoading; else loader">{{shopItem | json}}</span>

<button mat-flat-button color="primary" (click)="add()">Add to basket</button>

<ng-template #loader>
  <pf-loader></pf-loader>
</ng-template>
