<pf-half-screen-template>
  <div left>
    <form [formGroup]="form" (ngSubmit)="setFrequency()">

      <!-- Purchase Frequency -->
      <label id="example-radio-group-label">Pick your pet size</label>
      <mat-radio-group formControlName="frequency" class="radio-group">
        <mat-radio-button class="radio-button" *ngFor="let size of frequencyOptions" [value]="size.value">
          {{size.label | translate}}
        </mat-radio-button>
      </mat-radio-group>

      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
        {{'common.next' | translate}}
      </button>

    </form>
  </div>
  <div right>
  </div>
</pf-half-screen-template>
