@import "variables";
@import "colors";

.main-info-form {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.name mat-form-field, .food-type mat-form-field {
  width: 100%;
}

.age {
  display: flex;

  mat-form-field {
    flex: 1;
  }

  .years {
    margin-right: 24px;
  }
}

.title {
  font-size: $font-size-huge;
  line-height: $font-size-huge;
}

[right] {
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    //object-fit: none;
    //object-position: 35% 60%;
  }
}

[left] {
  background-color: $dark-green;
  color: white;
}
