<pf-half-screen-template>
  <div left>
    <form class="main-info-form" [formGroup]="form" (ngSubmit)="setGeneralInfo()">

      <section class="title-section">
        <h3 class="title">{{'feature.survey.general-info-step.title' | translate}}</h3>
        <h3>Hello World!</h3>
      </section>

      <section class="main-section">
        <div class="name">
          <!--Name-->
          <mat-form-field appearance="outline">
            <mat-label>{{'feature.survey.general-info-step.pet-name' | translate}}</mat-label>
            <input matInput type="text" formControlName="name" autocomplete="off">
          </mat-form-field>
        </div>

        <div class="age">
          <!--Years-->
          <mat-form-field appearance="outline" class="years">
            <mat-label>{{'feature.survey.general-info-step.years' | translate}}</mat-label>
            <mat-select formControlName="years">
              <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--Months-->
          <mat-form-field appearance="outline">
            <mat-label>{{'feature.survey.general-info-step.months' | translate}}</mat-label>
            <mat-select formControlName="months">
              <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="food-type">
          <!-- foodType -->
          <mat-form-field appearance="outline">
            <mat-label>{{'feature.survey.general-info-step.food-type' | translate}}</mat-label>
            <mat-select formControlName="foodType">
              <mat-option *ngFor="let type of foodTypes" [value]="type.id">{{type.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>

      <section class="button-section">
        <button mat-button color="primary" (click)="handleBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <button
          mat-flat-button
          color="primary"
          [disabled]="form.invalid"
          type="submit">
          {{'common.next' |  translate}}
        </button>
      </section>
    </form>

  </div>

  <div right>
<!--    <img src="assets/pic/4-4.jpeg" alt="dog">-->
  </div>

</pf-half-screen-template>
