$padding-size: 1%;

.container {
  height: 100%;
  display: flex;

  .column {
    flex: 1;

    .content {
      height: 100%;
      //height: calc(100% - #{$padding-size});
      //padding: $padding-size $padding-size 0 $padding-size;
    }
  }
}

.white-bgc {

}
