<div class="container">
  <div class="column">
    <div class="content">
      <ng-content select="[left]"></ng-content>
    </div>
  </div>

  <div class="column white-bgc">
    <ng-content select="[right]"></ng-content>
  </div>
</div>
