<section [formGroup]="form">

<!--  <label class="label">What is your pet?</label>-->
<!--  <mat-selection-list [multiple]="false" formControlName="petCategory">-->
<!--    <mat-list-option *ngFor="let category of animalCategories" [value]="category">-->
<!--      {{category.label | translate}}-->
<!--    </mat-list-option>-->
<!--  </mat-selection-list>-->

  <ng-container *ngIf="brandsFilterOptions.length > 1">
    <label class="label">Brand</label>
    <mat-selection-list formControlName="brands">
      <mat-list-option *ngFor="let brand of brandsFilterOptions" [value]="brand.value">
        {{brand.label}}
      </mat-list-option>
    </mat-selection-list>
  </ng-container>

  <ng-container *ngIf="ageFilterOptions.length > 1">
    <label class="label">Age</label>
    <mat-selection-list formControlName="age">
      <mat-list-option *ngFor="let age of ageFilterOptions" [value]="age">
        {{age | translate}}
      </mat-list-option>
    </mat-selection-list>
  </ng-container>

  <ng-container *ngIf="foodTypeFilterOptions.length > 1">
    <label class="label">Food Type</label>
    <mat-selection-list formControlName="foodType">
      <mat-list-option *ngFor="let foodType of foodTypeFilterOptions" [value]="foodType.value">
        {{foodType.label}}
      </mat-list-option>
    </mat-selection-list>
  </ng-container>

  <ng-container *ngIf="petSizeFilterOptions.length > 1">
    <label class="label">Pet Size</label>
    <mat-selection-list formControlName="petSize">
      <mat-list-option *ngFor="let petSize of petSizeFilterOptions" [value]="petSize">
        {{petSize}}
      </mat-list-option>
    </mat-selection-list>
  </ng-container>

  <ng-container *ngIf="petSizeFilterOptions.length > 1">
    <label class="label">Price</label>

    <mat-form-field appearance="outline">
      <mat-label>Min</mat-label>
      <input matInput type="text" formControlName="minPrice" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Max</mat-label>
      <input matInput type="text" formControlName="maxPrice" autocomplete="off">
    </mat-form-field>
  </ng-container>


</section>
