@import "variables";

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.label {
  font-size: $font-size-extra-big;
}

.example-radio-button {
  margin: 5px;
}

.mat-list-option {
  height: 36px !important;
}

mat-selection-list {
  margin-bottom: 18px;
}
